body {
    background: linear-gradient(50deg, rgba(104,17,158,1) 0%
    , rgba(5,182,174,1) 79%);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;

}

#title-cont {
    /* padding-top: 50px; */
    text-align: center;
    font-size: 30px;
    color: white;
}

h1 {
    margin:0;
}

#desc-cont {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    width: 310px;
    margin: auto;
    margin-top: 20px;
}


#calc-cont {
    width: 310px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    background-color: rgb(91, 91, 91,0.6);
    border-radius: 7px;
}

#displ-cont {
    height: 100px;
    width: 310px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(188, 211, 187,0.4);
    /* border-radius: 5px; */
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* opacity: 0.3; */
}

#op-displ {
    height:50px;
    margin: 10px 10px;
    text-align: right;
}

#result-displ {
    height:80px;
    margin: 10px 10px;
    text-align: right;
    font-size: 36px;
}



/* Grid to position the numbers */

#btn-cont {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6,50px);
    grid-gap: 3.5px;
    margin-top: 4px;
    /* margin-right: 47px;
    margin-left: 47px; */
    /* margin: 20px auto 20px auto */
}


.btn {
    /* border-radius: 5px; */
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 600;
    background-color: rgb(9, 9, 9, 0.3);
    color: white;
}

/* .btn-num {
    background-color: rgb(9, 9, 9, 0.3);
    color: white;

} */

.btn:hover {
    background-color: #ada9a9;
    box-shadow: inset 0px 0px 5px #edeaea;
}

.equal {
    background-color: #6EA9CC;
}
.equal:hover {
    background-color: #65bbed;
}

.deleters {
    background-color: #f74545;
    color: white;
}

.deleters:hover {
    background-color: #fc6f6f;
}

/* Position buttons */

/* Row 1 from the top */
#perc {
    grid-area: 1 / 1 / 1/ 1;
}
#reset {
    grid-area: 1 / 2 / 1 / 2;
}
#del {
    grid-area: 1 / 3 / 1 / 3;
}
#backspc {
    grid-area: 1 / 4 / 1 / 4;
}
/* Row 2 from the top */
#inv {
    grid-area: 2 / 1 / 2/ 1;
}
#pow {
    grid-area: 2 / 2 / 2 / 2;
}
#sqrt {
    grid-area: 2 / 3 / 2 / 3;
}
#div {
    grid-area: 2 / 4 / 2 / 4;
}
/* Row 3 from the top */
#seven {
    grid-area: 3 / 1 / 3/ 1;
}
#eight {
    grid-area: 3 / 2 / 3 / 3;
}
#nine {
    grid-area: 3 / 3 / 3 / 3;
}
#mult {
    grid-area: 3 / 4 / 3 / 4;
}

/* Row 4 from the top */

#four {
    grid-area: 4 / 1 / 4 / 1;
}
#five {
    grid-area: 4 / 2 / 4 / 2;
}
#six {
    grid-area: 4 / 3 / 4 / 3;
}
#subt {
    grid-area: 4 / 4 / 4 / 4;
}
/* Row 5 from the top */
#one {
    grid-area: 5 / 1 / 5 / 1;
}
#two {
    grid-area: 5 / 2 / 5 / 2;
}
#three {
    grid-area: 5 / 3 / 5 / 3;
}
#add {
    grid-area: 5 / 4 / 5 / 4;
}
/* Row 6 from the top */
#minus {
    grid-area: 6 / 1 / 6/ 1;
    border-bottom-left-radius: 5px;
}
#zero {
    grid-area: 6 / 2 / 6/ 2;
}
#comma {
    grid-area: 6 / 3 / 6/ 3;
}
#equal {
    grid-area: 6 / 4 / 6/ 4;
    border-bottom-right-radius: 5px;
}

.sqrt {
    padding-top: 10px;
    width: 30px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #footer {
        position: fixed;
        bottom: 0;
        height:60px;   
        width: 100%;
        background-color: rgb(0,0,0, 0.1);
        text-align: center;
    }
}

@media only screen and (min-width: 601px) {
    #footer {
        position: fixed;
        bottom: 0;
        height:60px;   
        width: 100%;
        background-color: rgb(0,0,0, 0.1);
        text-align: center;
    }
}
/* 
#footer {
    position: fixed;
    bottom: 0;
    height:60px;   
    width: 100%;
    background-color: rgb(0,0,0, 0.1);
    text-align: center;
} */

#gh-img {
    padding-top: 15px;
}